@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

body {
  background: #eceff1 !important;
}

button {
  font-family: Monaco;
  display: block;
  padding: 8px 18px !important;
  letter-spacing: 1px;
  font-weight: bold !important;
  font-size: 14px !important;
}

#app {
  max-width: 600px;
}

#shuffled-word-output {
  font-size: 24px;
  
}

.card-title {
  font-family: 'Comfortaa', cursive;
  color: rgb(15, 15, 15);
  font-weight: bold;
}

.output {
  min-height: 58px;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: inset 0px 0px 7px rgba(0,0,0,.18);
  border-radius: 3px;
  color: navy;
}

.card {
  font-size: 20px;
  font-family: monospace;
}

.buttons-group {
  max-width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-bottom: 30px;
  margin: auto;
}

#split {
  grid-column: 1 / -1;
}

.alert {
  font-size: 16px !important;
  padding: 4px !important;
  min-height: 34px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 375px) {
h2 {
font-size: 20px !important;
}
}